Analysis_Results/
SA_Plots/
Sample_Data/
__pycache__/
MATLAB_ONLY/
Interface_FlexPDE-MATLAB/Raw Data/
Interface_FlexPDE-MATLAB/Raw Data/**
Interface_FlexPDE-MATLAB/SA_Plots/
Interface_FlexPDE-MATLAB/SA_Plots/**
MATLAB_Data_Analysis/Raw Data/
MATLAB_Data_Analysis/Raw Data/**
MATLAB_Data_Analysis/From_NonCOMSOL_Computer/SA_Plots/
MATLAB_Data_Analysis/From_NonCOMSOL_Computer/SA_Plots/**
MATLAB_Data_Analysis/From_NonCOMSOL_Computer/Analysis_Results/
MATLAB_Data_Analysis/From_NonCOMSOL_Computer/Analysis_Results/**
.DS_Store
*.swp
